<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Blog Admin</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Kreon:400,700" rel="stylesheet" />
	<environment names="Development">
		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/admin/site.css" asp-append-version="true" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet"
			  href="//cdn.bootcss.com/bootstrap/3.4.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet"
			  href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
			  asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/admin/site.min.css" asp-append-version="true" />
	</environment>

	@RenderSection("head", required: false)
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-controller="Default" asp-action="Index" class="navbar-brand">Blog Admin</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#." class="dropdown-toggle" data-toggle="dropdown"> New <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a asp-controller="posts" asp-action="create">Post</a></li>
							<li><a asp-controller="pages" asp-action="create">Page</a></li>
							<li><a asp-controller="categories" asp-action="create">Category</a></li>
						</ul>
					</li>
					<li>
						<a href="#." class="dropdown-toggle" data-toggle="dropdown"> Post <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a asp-controller="posts" asp-action="list">List</a></li>
							<li><a asp-controller="Comments" asp-action="list">Comments</a></li>
							<li class="divider"></li>
							<li><a asp-controller="posts" asp-action="create">New</a></li>
						</ul>
					</li>
					<li>
						<a href="#." class="dropdown-toggle" data-toggle="dropdown"> Page <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a asp-controller="Pages" asp-action="list">List</a></li>
							<li class="divider"></li>
							<li><a asp-controller="Pages" asp-action="create">New</a></li>
						</ul>
					</li>
					<li>
						<a href="#." class="dropdown-toggle" data-toggle="dropdown"> Category <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a asp-controller="Categories" asp-action="list">List</a></li>
							<li class="divider"></li>
							<li><a asp-controller="Categories" asp-action="create">New</a></li>
						</ul>
					</li>
					<li><a asp-controller="tags" asp-action="list">Tags</a></li>

					<li><a asp-controller="users" asp-action="list">Users</a></li>
					<li><a asp-controller="roles" asp-action="list">Roles</a></li>

					<li>
						<a href="#." class="dropdown-toggle" data-toggle="dropdown"> Customs <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a asp-controller="Custom" asp-action="Themes">Themes</a></li>
							<li><a asp-controller="Custom" asp-action="Widgets">Widgets</a></li>
						</ul>
					</li>

					<li>
						<a href="#." class="dropdown-toggle" data-toggle="dropdown"> Setting <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a asp-controller="Settings" asp-action="Basic">Basic</a></li>
							<li><a asp-controller="Settings" asp-action="Advanced">Advanced</a></li>
							<li><a asp-controller="Settings" asp-action="Comments">Comments</a></li>
							<li><a asp-controller="Settings" asp-action="Email">Email</a></li>
							<li><a asp-controller="Tools" asp-action="Index">Tools</a></li>
						</ul>
					</li>

				</ul>

				<partial name="/Areas/Admin/Views/Shared/_LoginPartial.cshtml"  />
			</div>
		</div>
	</div>
	<div class="container body-content">

		@if (TempData["alert-message"] != null && TempData["alert-type"] != null)
		{
			<text>
				<div class="alert alert-@(TempData["alert-type"]) alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					@Html.Raw(TempData["alert-message"])
				</div>
			</text>
		}


		@RenderBody()

		<hr />
		<footer>
			<p>&copy; @(DateTime.Now.Year) - Passingwind.Blog </p>
		</footer>
	</div>

	<environment names="Development">
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
		<script src="~/js/admin/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"
				asp-fallback-src="~/lib/jquery/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="//cdn.bootcss.com/bootstrap/3.4.1/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>
		<script src="~/js/admin/site.min.js" asp-append-version="true"></script>
	</environment>
	<partial name="_ValidationScriptsPartial" />
	@RenderSection("scripts", required: false)
</body>

</html>
