@{
	Layout = null;
}

@model CommentViewModel


@if (Model != null)
{
	<li id="comment-@(Model.Id)" class="comment" data-id="@(Model.Id)">
		<article class="comment-body">
			<header class="comment-meta">

				<div class="comment-actions">
					@if (Model.CommentNestingEnabled)
					{
						<a href="javascript:void(0);" onclick="moveCommentForm('@Model.Id')">回复</a>
					}
				</div>
				<span class="comment-time">
					<time class="comment-time" datetime="@Model.CreationTime">@Model.CreationTime</time>
				</span>

				<div class="comment-author">
					<img alt="@Model.Author" src="@(AvatarHelper.GetSrc(Model.Email))" class="avatar" height="40" width="40">
					<span class="author-wrap">
						<span class="author-name">
							<a href="@Model.Website" target="_blank" rel="external nofollow" class="url">@Model.Author</a>
						</span>
					</span>
				</div>
			</header>

			<div class="comment-content">
				<p>@(Model.Content?.Replace("\n", "<br/>"))</p>
			</div>

		</article>

		<partial name="comments" model="Model.Replays" />
	</li>
}
