@model CommentFormViewModel

<div id="comment-respond" class="comment-respond">

    <div class="comment-form">

        <form id="commentForm" asp-route="commentForm" asp-route-postId="@Model.PostId">
            <input type="hidden" asp-for="ParentId" />

            <div class="comment-form-comment">
                <textarea asp-for="@Model.Content" rows="5" placeholder="write something ... " required></textarea>
            </div>
            <div class="comment-form-author">
                <label for="author">Name <span class="required">*</span></label>
                <input asp-for="@Model.Author" placeholder="you name " required />
            </div>
            <div class="comment-form-email">
                <label for="author">Email  <span class="required">*</span></label>
                <input asp-for="@Model.Email" placeholder="you email " required />
            </div>
            <div class="comment-form-url">
                <label for="author">Website </label>
                <input asp-for="@Model.Website" placeholder="(Optional) eg: http://www.youname.com" />
            </div>

            <div class="form-submit">
                <input name="submit" type="submit" class="submit btn btn-default" value="Post Comment" />

                <a href="javascript:void(0);" class="cancel" onclick="canelCommentForm(this)" style="display:none;">取消</a>
            </div>

        </form>

    </div>

</div>



<script id="commentTemplate" type="text/html">
    <li class="comment" data-id="">
        <article class="comment-body">
            <header class="comment-meta">
                <span class="comment-time">
                    <time class="comment-time" datetime=""></time>
                </span>

                <div class="comment-author">
                    <img alt="" src="" class="avatar" height="40" width="40">
                    <span class="author-wrap">
                        <span class="author-name">
                            <a href="javascript:void(0);" rel="external nofollow" class="url"></a>
                        </span>
                    </span>
                </div>
            </header>

            <div class="comment-content">
                <p></p>
            </div>
        </article>
        <ul class="children"></ul>
    </li>
</script>
