@model IPagedList<PostViewModel>
@inject BasicSettings basicSettings

@{ 
}

@foreach (var post in Model)
{
    <div class="post-wrap">
        <article>
            <header class="entry-header">
                <h2 class="entry-title">

                    @if (string.IsNullOrWhiteSpace(post.Slug))
                    {
                        <a asp-action="post" asp-route-id="@post.Id" data-pjax="" data-pjax-container="">@post.Title</a>
                    }
                    else
                    {
                        <a asp-action="post" asp-route-slug="@post.Slug" data-pjax="" data-pjax-container="" >@post.Title</a>
                    }

                </h2>
            </header>
            <div class="entry-meta">
                <div class="post-info">
                    <span class="posted-on">
                        <time class="entry-date published" datetime="@post.PublishedTime.ToUniversalTime().ToString()">@post.PublishedTime</time>
                    </span>
                    <span class="post-by">by <a asp-route="author" asp-route-username="@(post.User?.UserName)">@(post.User == null ? null : post.User.DisplayName)</a></span>
                    <span class="slashes comment-slashes">//</span>
                    <span class="num-comments">
                        @if (string.IsNullOrWhiteSpace(post.Slug))
                        {
                            <a asp-action="post" asp-route-id="@post.Id" asp-fragment="comments">@post.CommentsCount Comments</a>
                        }
                        else
                        {
                            <a asp-action="post" asp-route-slug="@post.Slug" asp-fragment="comments">@post.CommentsCount Comments</a>
                        }
                    </span>
                </div>
            </div>
            <div class="entry-summary">
                @if (basicSettings.ShowDescription)
                {
                    <p>
                        @post.Description

                        @if (string.IsNullOrWhiteSpace(post.Slug))
                        {
                            <a aria-label="read more about @post.Title " asp-action="post" asp-route-id="@post.Id" class="read-more">Read more</a>
                        }
                        else
                        {
                            <a aria-label="read more about @post.Title " asp-action="post" asp-route-slug="@post.Slug" class="read-more">Read more</a>
                        }
                    </p>
                }
                else
                {
                    @(MarkdownHelper.CoventToHtml(post.Content))
                }
            </div>

            @if (post.Categories.Count > 0)
            {
                <text>


                <div class="entry-category">
                    Categories:
                    @for (int i = 0; i < post.Categories.Count; i++)
                    {
                        <text>
                        <a asp-route="category" asp-route-name="@post.Categories[i].Slug">@post.Categories[i].Name</a>
                        </text>
                        if (i != post.Categories.Count - 1)
                        {
                            <text>,</text>
                        }
                    }
                </div>
                </text>
            }

            @if (post.Tags.Count > 0)
            {
                <text>
                <div class="entry-category">
                    Tags:
                    @for (int i = 0; i < post.Tags.Count; i++)
                    {
                        <text>
                        <a asp-route="tags" asp-route-name="@post.Tags[i]">@post.Tags[i]</a>
                        </text>
                        if (i != post.Tags.Count - 1)
                        {
                            <text>,</text>
                        }
                    }
                </div>
                </text>
            }

        </article>



    </div>
}


