@using Passingwind.Blog.Widget.CategoryList.Models
@{
    Layout = null;
}

@model WidgetViewModel

<aside class="widget">
    <h2 class="widget-title">@(Model.Title)</h2>
    <div class="widget-text">
        <ul class="widget-link-list">
            @foreach (var item in Model.List)
            {
                <li>
                    <a class="rsswidget" asp-route="syndicationcategory" asp-route-slug="@item.Slug"><img class="rss-widget-icon" src="@Url.Content("~/themes/default/images/rss.png")" alt="RSS" /></a>
                    <a asp-route="category" asp-route-category="@item.Slug">@item.Name </a>
                </li>
            }

        </ul>
    </div>
</aside>
