@{
	Layout = "_PluginConfigure";
}
@model ConfigureViewModel


<div class="page-header">
	<h1>LinkList Configure</h1>
</div>

<form asp-action="list">
	<input type="hidden" asp-for="Id" />

	<div class="table-toolbar clearfix row">
		<div class="col-md-6">
			<div class="btn-group btn-group-sm">
				<button type="submit" class="btn btn-danger" asp-action="Delete">Delete</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-inline pull-right">
				<div class="form-group">
					<input type="text" class="form-control" name="title" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="url" />
				</div>
				<button type="submit" asp-action="add" class="btn btn-default">Add</button>
			</div>
		</div>

	</div>

	<table class="table table-bordered table-striped table-item-list">
		<thead>
			<tr>
				<th class="item-checkbox"><input type="checkbox" /></th>
				<th class="item-title">Link </th>
			</tr>
		</thead>

		@if (Model.Links.Count == 0)
		{
			<text>
				<tr>
					<td colspan="10" class="text-center">Empty</td>
				</tr>
			</text>
		}
		else
		{
			foreach (var item in Model.Links)
			{
				<text>
					<tr>
						<td class="item-checkbox">
							<input type="checkbox" name="itemId" value="@item.Id" />
						</td>
						<td class="item-title">
							<span title="@item.Title">@item.Title (@item.Url)</span>
							<a class="pull-right" href="@item.Url" target="_blank"><i class="fa fa-external-link"></i></a>
						</td>
					</tr>
				</text>
			}
		}

	</table>

</form>