
@inject BlogUserManager userManager
@inject BlogSignInManager signInManager

@inject BasicSettings basicSettings
@inject AdvancedSettings advancedSettings
@inject FeedSettings feedSettings
@inject ISettingService settingService



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />

    <!-- archive  -->
    <link rel="contents" title="Archive" href="~/archive" />
    <!-- rsd  -->
    <link type="application/rsd+xml" rel="edituri" title="RSD" href="~/rsd.xml" asp-condition="feedSettings.Enabled" />

    <!-- opensearch  -->
    <link rel="search" type="application/opensearchdescription+xml" href="~/opensearch.xml" title="@basicSettings.Title" asp-condition="advancedSettings.EnableOpenSearch" />

    <!-- syndication  -->
    <link rel="alternate" type="application/atom+xml" title="@(basicSettings.Title) (ATOM)" href="~/syndication.xml?format=atom" asp-condition="feedSettings.Enabled" />
    <link rel="alternate" type="application/rss+xml" title="@(basicSettings.Title) (RSS)" href="~/syndication.xml" asp-condition="feedSettings.Enabled" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Kreon:400,700" rel="stylesheet" />

    <environment names="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/themes/default/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/themes/default/css/site.min.css" asp-append-version="true" />
    </environment>

    <!--  customer head -->
    @Html.Raw(advancedSettings.HeaderHtml)
    @RenderSection("head", false)

    <widget-zone name="HtmlHeader" />

    <mini-profiler />
</head>

<body>

    <div class="site-header-wrap">
        <div class="container">
            <header class="site-header">
                <div class="site-title">
                    <h1 class="blog-title"><a href="~/">@basicSettings.Title </a></h1>
                    <p class="blog-description">@basicSettings.Description </p>
                </div>
                <div class="social-links">
                    @if (await settingService.HasKeyAsync("social.links.github"))
                    {
                        var value = await settingService.GetValueAsync("social.links.github");
                        <text>
                            <a href="@value" rel="external nofollow" target="_blank" title="gihub"><i class="fa fa-git"></i></a>
                        </text>
                    }
                    @if (await settingService.HasKeyAsync("social.links.personalhomepage"))
                    {
                        var value = await settingService.GetValueAsync("social.links.personalhomepage");
                        <text>
                            <a href="@value" target="_blank" title="Home"><i class="fa fa-home"></i></a>
                        </text>
                    }

                    <a href="~/syndication.xml" target="_blank" title="Rss"><i class="fa fa-rss"></i></a>

                </div>
                <a id="togglemenu" href="#togglemenu" class="header-navigation-toggle">Menu</a>

                <widget-zone name="PageHeader" />
            </header>

            <nav id="main-navigation" class="main-navigation">
                <ul>
                    <li><a asp-route="home">Home</a></li>
                    <li><a asp-route="archive">Archive</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/admin/">Admin</a></li>
                        <li><a asp-route="logout">Log Out</a></li>
                    }
                    else
                    {
                        <li><a asp-route="login">Login</a></li>
                    }
                </ul>

            </nav>

        </div>
    </div>


    <div class="site-content clearfix">
        <div class="container clearfix">
            <div class="content-area">
                <div class="site-main">
                    <widget-zone name="PostListHeader" />
                    @RenderBody()
                    <widget-zone name="PostListFooter" />
                </div>
            </div>
            <div class="widget-area">
                <profile name="widgets-profile">
                    <widget-zone name="SilderBar" />
                </profile>
            </div>

        </div>

    </div>

    <div class="footer-wrap">
        <div class="container">
            <div class="site-info">
                <div class="footer-copyright">
                    <partial name="_FooterPartial" />
                </div>
            </div>
        </div>
        <widget-zone name="PageFooter" />
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/themes/default/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/themes/default/js/site.es5.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!--  customer footer -->
    @Html.Raw(advancedSettings.FooterHtml)

    <widget-zone name="HtmlFooter" />
</body>
</html>
