@{
    ViewBag.Title = "Dashboard";
}
@model DashboardViewModel

<div class="dashboard">

    <h1>累计发布 <code>@Model.TotalPostsCount</code> 篇文章、<code>@Model.TotalPagesCount</code> 篇页面、<code>@Model.TotalCategoriesCount</code> 个分类、<code>@Model.TotalTagsCount</code> 个标签。共有 <code>@Model.TotalCommentsCount</code> 条评论。</h1>


</div>